In [4]:
import pandas as pd

path = r"C:\Users\catat\OpenDeception\OpenDeception\7Truth7LiesDataset.csv"
df = pd.read_csv(path,  on_bad_lines='skip')

In [5]:
df.head()

,id,_gender,age,education,country,text,class
0,1_f_l_1,Female,26,'Bachelors degree',Canada,'There is a great deal of truth to the anti-va...,lie
1,1_f_l_2,Female,26,'Bachelors degree',Canada,'Jenny mccarthy is a learned doctor who deserv...,lie
2,1_f_l_3,Female,26,'Bachelors degree',Canada,'Driving doesn\'t really require any practice.',lie
3,1_f_l_4,Female,26,'Bachelors degree',Canada,'Drinking and driving is a winning and safe co...,lie
4,1_f_l_5,Female,26,'Bachelors degree',Canada,'Good hygiene isn\'t really important or attra...,lie

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3945 entries, 0 to 3944
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3945 non-null   object
 1   _gender    3945 non-null   object
 2   age        3945 non-null   int64
 3   education  3945 non-null   object
 4   country    3945 non-null   object
 5   text       3945 non-null   object
 6   class      3945 non-null   object
dtypes: int64(1), object(6)
memory usage: 215.9+ KB

In [7]:
# drop the unnecessary columns
df_relevant = df[['text', 'class']]

In [8]:
df_relevant.head()

                                                text class
0  'There is a great deal of truth to the anti-va...   lie
1  'Jenny mccarthy is a learned doctor who deserv...   lie
2    'Driving doesn\'t really require any practice.'   lie
3  'Drinking and driving is a winning and safe co...   lie
4  'Good hygiene isn\'t really important or attra...   lie

In [9]:
#rename the class column 
df_relevant = df_relevant.rename(columns = {'text': 'statement', 'class': 'veracity'})

In [10]:
df_relevant.head()

                                           statement veracity
0  'There is a great deal of truth to the anti-va...      lie
1  'Jenny mccarthy is a learned doctor who deserv...      lie
2    'Driving doesn\'t really require any practice.'      lie
3  'Drinking and driving is a winning and safe co...      lie
4  'Good hygiene isn\'t really important or attra...      lie

# Replacing the values from the veracity column with boolean values

In [11]:
df_relevant['veracity'].value_counts()

lie      1978
truth    1967
Name: veracity, dtype: int64

## we can observe that the samples in the dateset are fairly balanced

In [12]:
df_relevant['veracity'] = df_relevant['veracity'].replace(['truth'], 1)

In [13]:
df_relevant['veracity'] = df_relevant['veracity'].replace(['lie'], 0)

In [14]:
df_relevant['veracity'].value_counts()

0    1978
1    1967
Name: veracity, dtype: int64

#  Remove the quotation signs from the statements column

In [21]:
df_relevant['statement'] = df_relevant['statement'].str.replace("'","")

In [22]:
df_relevant['statement'].head()

0    There is a great deal of truth to the anti-vax...
1    Jenny mccarthy is a learned doctor who deserve...
2         Driving doesn\t really require any practice.
3    Drinking and driving is a winning and safe com...
4    Good hygiene isn\t really important or attract...
Name: statement, dtype: object

# Export the new df to a separate csv

In [23]:
df_relevant.to_csv('sevenDataset_cleaned.csv')